.pixi/
.git/
**/__pycache__
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
outputs/
resources/
.codex
CHANGELOG.md
docker-bake.hcl
release-please-config.json
.release-please-manifest.json
LICENSE
agents_process.md
.env
